:root {
    --purple: #5200ee;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    max-width: 40em;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

header {
    padding: 2em 0;
}

select {
    padding: 1em;
    border-radius: 5px;
}

select:focus {
    outline: none;
    background: var(--purple);
    color: var(--white);
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}